<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kashmir News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" as="style" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="prefetch" href="/results" as="document">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Awaaz</h1>
        <form action="/results" method="post" class="mt-4">
            <div class="form-group">
                <label for="filter">Select News Timeframe:</label>
                <select name="filter" id="filter" class="form-control">
                    <option value="rf">Recent News (Last Hour)</option>
                    <option value="dn">Day News</option>
                    <option value="wn">Week News</option>
                    <option value="mn">Month News</option>
                    <option value="yn">Year News</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Get News</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
const URL = "https://awaaz.onrender.com";  // Replace with your Render app URL

// Interval time in milliseconds (600 seconds = 10 minutes)
const INTERVAL = 600000;

function pingApp() {
    fetch(URL)
        .then(response => {
            if (response.ok) {
                console.log(`Ping successful: ${response.status}`);
            } else {
                console.log(`Ping failed: ${response.status}`);
            }
        })
        .catch(error => {
            console.error(`Error pinging app: ${error}`);
        });
}

setInterval(pingApp, INTERVAL);

</script>
</body>
</html>
